.h1-cont {
    display: flex;
    justify-content: center;
}

button {
    width: 80px;
    height: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
}
table {
    width: 80%;
    border: 4px black solid;
    border-spacing: 0;
}

table *{
    border: 2px black solid;
}

form {
    margin: 16px

}